
.button1 {
    min-width: 87px;
    height: 34px;
    border: 2px solid#BC9CFF;
    border-radius: 22px;
    color: #BC9CFF;
    cursor: pointer;
    background-color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.button2 {
    min-width: 87px;
    height: 34px;
    border: 2px solid#BC9CFF;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    background-color: #BC9CFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

